@using Microsoft.Extensions.Options;
@using habitat_aspnet_sample.Configuration;
 
@inject IOptions<ApplicationConfigurations> OptionsApplicationConfiguration

@model IEnumerable<habitat_aspnet_sample.Models.Message>

@{
    ViewData["Title"] = "Index";
}
<h1>@OptionsApplicationConfiguration.Value.ImportantMessage</h1>
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MessageText)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageText)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
